.container{
   margin: 0 auto;
   width: 700px;
}

.keyboard-textarea{
   width: 700px;
   height: 200px;
   font-size: 18px;
   color: #444444;
}

.keyboard{
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: #afafaf;
   padding: 5px;
   gap: 5px;

   &__row{
      display: flex;
      height: 40px;
      gap: 5px;
   }

   &__key{
      min-height: 40px;
      width: 100px;
      background-color: #fff;
      line-height: 40px;
      text-align: center;
      color: #ffffff;
      background: #6b6b6b;
      border-radius: 3px;
      cursor: pointer;
   }

}

.keyDown{
   background-color:cadetblue;
}